.question-container {
  background-image: url("../assets/landscape1_2.svg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
.question-card {
  background-color: white;
  padding: 20px;
  max-width: 400px;
  width: 90%;
}
.question-label {
  font-size: 20px;
}
