.nav-ul-list {
  list-style-type: none;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-inline: 0;
  margin-block: 0;
}
.nav-wrapper {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  transition: all 0.4s ease-in-out;
  background-color: white;
}

.nav-active {
  transform: translateY(0);
}
@media (min-width: 768px) {
  .nav-ul-list {
    list-style-type: none;
    padding: 0;
    width: 100%;
    flex-direction: row;
  }
  .nav-wrapper {
    position: static;
    width: 100%;
    transform: translateY(0);
  }
}
